# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude tfvars as this is a generic module not an implementation
*.tfvars
*.tfvars.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Terraform lock files are bad
**/.terraform.lock.hcl

# Temporary work directories
**/work/*
